<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="|@${userProfile.getUsername()} followed users|"></title>
</head>
<body>
<section sec:authorize="hasAnyRole('ROLE_USER')">
    <h1 th:text="|${userProfile.getFullNameHumanized()} followed users|"></h1>
    <div th:each="userFollowed : ${usersFollowed}">
        <span th:text="${userFollowed.getFollowedFullNameHumanized()}"></span>
        <a th:href="@{'/' + ${userFollowed.getFollowedUsername()}}" th:text="|(@${userFollowed.getFollowedUsername()})|"></a>
        <div th:unless="${userAuthenticated.getId().equals(userFollowed.getFollowedId())}" style="display: inline">
            <div th:replace="~{shared/follow-button :: followButtonWithRedirection(${userFollowed.isFollowedBy(userAuthenticated.getId())},${userFollowed.getFollowedId()},'follows/followed')}"></div>
        </div>
    </div>
    <div th:replace="~{shared/pagination :: paginate(${userProfile.getUsername() + '/followed'},${usersFollowed.getNumber()},${usersFollowed.getSize()},${usersFollowed.hasPrevious()},${usersFollowed.hasNext()})}"></div>
</section>
</body>
</html>