<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="|@${userProfile.getUsername()}|"></title>
</head>
<body>
<section sec:authorize="hasAnyRole('ROLE_USER')">
    <h1 th:text="|${userProfile.getFullNameHumanized()} (@${userProfile.getUsername()})|"></h1>
    <div>
        <h4>Total Followers: <a href="#" th:text="${totalFollowers}"></a></h4>
        <h4>Total Followed: <a href="#" th:text="${totalFollowed}"></a></h4>
    </div>
</section>
</body>
</html>