<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Followers</title>
</head>
<body>
<section>
    <h1>👀 Follower Users</h1>
    <span th:if="${followers.getTotalElements() == 0}">No followers</span>
    <div th:each="follower : ${followers}">
        <span th:text="${follower.getFollowerFullNameHumanized()}"></span>
        <a th:href="@{'/' + ${follower.getFollowerUsername()}}" th:text="|(@${follower.getFollowerUsername()})|"></a>
        <form id="followBackForm" th:unless="${follower.getIsFollowBack()}" th:action="@{/follows/add}" method="post" style="display: inline">
            <input type="hidden" name="followedId" th:value="${follower.getFollowerId()}">
            <button onclick="document.getElementById('followBackForm').submit();" type="submit" >Follow</button>
        </form>
    </div>
    <div th:replace="~{shared/pagination :: paginate('follows/followers',${followers.getNumber()},${followers.getSize()},${followers.hasPrevious()},${followers.hasNext()})}"></div>
</section>
</body>
</html>