<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Followed Users</title>
</head>
<body>
<section>
    <h1>🕵🏼‍♂️ Followed Users:</h1>
    <span th:if="${followedUsers.getSize() == 0}">No followed users</span>
    <br>
    <a th:href="@{/follows/new}">Follow another user</a>
    <div th:each="followed : ${followedUsers}" th:with="followedUser=${followed.getFollowed()}">
        <span th:text="${followedUser.humanizeFullName()}"></span> <a th:href="@{'/' + ${followedUser.getUsername()}}" th:text="|(@${followedUser.getUsername()})|"></a>
    </div>
    <div th:replace="~{shared/pagination :: paginate('follows/followed',${followedUsers.getNumber()},${followedUsers.getSize()},${followedUsers.hasPrevious()},${followedUsers.hasNext()})}"></div>
</section>
</body>
</html>