<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:replace="${title}">Layout Title</title>
</head>
<body>
<div>
  <h4 th:text="${message}"></h4>
</div>
<div sec:authorize="isAuthenticated()">
  <a th:href="@{/}">Home</a>
  <div style="display:flex;align-items: center">
    <h2>Hello @<span sec:authentication="name"></span>!!</h2>
    <form id="logoutForm" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display: inline">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <button onclick="document.getElementById('logoutForm').submit();" type="submit" >Log Out</button>
    </form>
  </div>
</div>
<div th:replace="${content}">
  <p>Layout content</p>
</div>
</body>
</html>